# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.vite-config

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Env
*.local
.env
.env.*
!.env.example

# Vercel
.vercel
